@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

:root {
    --color-white: #FFF;
    --color-black: #000000;
    --color-raisin-black: #24252A;
    --color-almost-white: #F9F7F5;
    --color-non-photo-blue: #98D3DF;
    --color-mountbatton-pink: #8B728E;
    --color-burlywood: #D7B377;
    --color-logo: #001F3F;
    --color-dutch-boy-split-banana: #F5EEDD;
    --nav-width: 37.5rem;
    --nav-height: 100rem;
}

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-dutch-boy-split-banana);
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #5564be;
}

/* Header */
header {
    height: 120px;
    width: 100%;
    max-height: 100%;
    display: block;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 10px 20px 10px 20px;
    position: sticky;
    top: 0;
    outline: 2px solid black;
}


.logo {
    width: 100px;
    margin-left: 50px;
    float: left;
    cursor: pointer;
    background-color: inherit;
}

nav {
    position: sticky;
    display: flex;
    background-color: inherit;
    margin-right: 50px;
    float: right;
    
}

button {
    border: 4px solid black;
    padding: 16px 24px;
    margin: 10px;
    position: relative;
    background-color: transparent;

}

span {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    background-color: inherit;
    cursor: pointer;
}

span:after {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100%;
    width: 100%;
    background-color: #e5903e;
    content: "";
    z-index: -1;
    transition: transform 0.2s ease-in, width 0.2s ease-out 0.2s;
}

span:hover:after {
    transform: translate(-10px, -10px);
    width: calc(100% - 10px);
    
}

span:active:after {
    width: 100%
}

nav ul {
    list-style: none;
    display: flex-end;
    background-color: inherit;
    text-align: center;
}

nav ul li {
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    display: inline-block;
    padding: 20px;
    border: 10px;
    margin: 20px;
    background-color: inherit;
    border
}

nav ul li a {
    width: inherit;
    height: inherit;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-logo);
    text-decoration: none;
    background-color: inherit;
    transition: all 0.2s ease 0s;
    font-family: 'Playfair Display', serif;
}

.float_side_SoMe {
    display: inline-flex;
    flex-direction: column;
    right: 20px;
    bottom: 20px;
    position: fixed;
    z-index: 1000;
    justify-content: space-around;
    
}

.float_side_SoMe a {
    border: 2px solid black;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    
    align-items: center;
}
.float_side_SoMe a + .float_side_SoMe {
    margin-top: 10px;
}

/* Main */

main {
    display: inline-flex;
    width: 80%;
    outline: 2px solid black;
    margin: 50px 200px 50px 200px;
    flex: 1 1 auto;
}

.main_body {
    width: 100%;
    background-color: white;
}

.container {
    display: block;
}

h1 {
    font-size: 50px;
    width: 100%;
    text-align: center;
    background-color: var(--color-dutch-body-split-banana);
    outline: 2px solid black;
}

.container_inside {
    width: 100%;
    height: 100%;
    display: inline-flex;
    padding: 5px;
    align-items: center;
    background-color: var(--color-white);
}

.container_picture_left {
    width: 50%;
    height: 100%;
}

.container_picture_left img {
    
}

.container_content {
    padding: 40px;
    width: 50%;
    height: 100%;
    float: right;
    background-color: white;
}

p {
    font-size: 20px;
    background-color: inherit;
    padding: 5px;
}
em {
    background-color: white;
    font-family: 'Playfair Display', serif;
}