body {

}

#board {
    width: 400px;
    float: left;
}

#avatar-img {
    width: 150px;
    margin-left: 125px;
}

#clock {
    float: left;
    background-color: #ccc;
    width: 150px;
    margin-top: 125px;
    border: 2px solid;
    border-radius: 10px;
}

#clock-divider {
    width: 150px;
    height: 2px;
    background-color: #000;
}

.clock-box {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 40px;
    padding-bottom: 10px;
}

#settings-btn {
    float: left;
}

#initiate-btn {
    float:left;
    display: none;
}

#settings {
    padding: 10px;
    background-color: #404040;
    width: 377px;
    height: 100px;
    margin-top: 400px;
    border-radius: 10px;
    display: none;
}

.time-inc {
    width: 30px;
    margin-left: 8px;
}

.time-setting {
    width: 100px;
    margin-left: 8px;
}

#ptime {
    margin-left: 12px;
}

#status {
    float: left;
    clear: both;
}